
body {
  font-family : helvetica;
  background : #ccc;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  line-height : 1.2;
  font-size : 14px;
  margin-bottom : 12px;
}